<?xml version="1.0" encoding="UTF-8"?>

<!-- IMPORTANT: You must add the borgbackup.sh script to Privacy tab  -->
<!--            of "Security and Privacy" System Preferences to give  -->
<!--            the script full read access. -->

<!-- INSTALLATION: Copy edited file to ~/Library/LaunchAgents -->

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>Label</key>
    <string>local.borgbackup</string>

    <key>StartInterval</key>
    <integer>10800</integer>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string><![CDATA[/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin]]></string>
    </dict>

    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/open</string>
      <string>/Applications/borgbackup.app</string>
    </array>

    <key>Nice</key>
    <integer>10</integer>

    <key>AbandonProcessGroup</key>
    <true/>

  </dict>
</plist>
