"*":
  "atom-beautify":
    general:
      _analyticsUserId: "aab204c6-1c8e-47d3-afaa-31c509007127"
  "autocomplete-plus":
    strictMatching: true
  "autocomplete-python":
    useKite: false
  core:
    automaticallyUpdate: false
    customFileTypes:
      "source.ini": [
        ".hgrc"
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        ".jfconfig"
        ".watchmanconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUILD_DEFS"
        "TARGETS"
        "BUCK_WIN"
        "bzl"
        "cconf"
        "cinc"
        "ctest"
        "ctw"
        "mcconf"
        "tw"
        "thrift-cvalidator"
        "BUCK"
      ]
      "source.reason": [
        ".re"
      ]
      "source.yaml": [
        "yarn.lock"
      ]
    disabledPackages: [
      "markdown-preview"
      "metrics"
      "encoding-selector"
      "line-ending-selector"
      "fuzzy-finder"
      "linter"
      "github"
      "tree-view"
      "image-view"
      "git-diff"
      "haskell-grammar"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "**/xplat/**/.*.metadata"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
    useTreeSitterParsers: false
  editor:
    fontFamily: "UbuntuMono Nerd Font"
    lineHeight: 1.1
    showIndentGuide: true
  "exception-reporting":
    userId: "b3bd855a-38b4-44af-961e-0c6cfa5383f2"
  "markdown-preview-plus":
    syncConfig:
      syncPreviewOnChange: true
    syntaxThemeName: "solarized-dark-syntax"
    useGitHubStyle: true
  notifications:
    showErrorsInDevMode: true
  nuclide:
    "atom-ide-code-format":
      formatOnSave: false
      formatOnType: true
    "atom-ide-console":
      diffUrlPattern: "https://phabricator.intern.facebook.com/%s"
      fontScale: 0.9
      maximumMessageCount: 10000
      maximumSerializedHistory: 20
      maximumSerializedMessages: 10
      taskUrlPattern: "https://our.intern.facebook.com/intern/tasks?t=%s"
    "atom-ide-datatip":
      datatipDebounceDelay: 200
      datatipInteractedWithDebounceDelay: 1000
      onlyTopDatatip: false
    "atom-ide-debugger":
      showDebuggerOnBpSet: true
    "atom-ide-diagnostics-ui":
      autoVisibility: false
      showDirectoryColumn: false
      statusBarPosition: "left"
    "atom-ide-find-references":
      defaultLocationForPane: "bottom"
    "atom-ide-outline-view":
      nameOnly: false
    "atom-ide-signature-help":
      enable: true
    "atom-ide-terminal":
      allowTransparency: false
      black: "#2e3436"
      blue: "#3465a4"
      brightBlack: "#555753"
      brightBlue: "#729fcf"
      brightCyan: "#34e2e2"
      brightGreen: "#8ae234"
      brightMagenta: "#ad7fa8"
      brightRed: "#ef2929"
      brightWhite: "#eeeeec"
      brightYellow: "#fce94f"
      charAtlas: "dynamic"
      cursorBlink: false
      cursorStyle: "block"
      cyan: "#06989a"
      documentationMessage: true
      fontFamily: "courier-new, courier, monospace"
      fontScale: 1
      green: "#4e9a06"
      lineHeight: 1.5
      magenta: "#75507b"
      optionIsMeta: false
      red: "#cc0000"
      rendererType: "auto"
      scrollback: 500000
      white: "#d3d7cf"
      yellow: "#c4a000"
    "fb-ai-code-search":
      usePrefixOnly: true
    "fb-ai-complete-blocks":
      enableDevelopmentMode: false
    "fb-android-native-debugger":
      "devserver-android-tunnel": true
    "fb-arc-lint":
      blacklistedLinters: [
        "FBHACK"
        "FLAKE8"
        "FLOW"
        "HACK"
        "HACKSYNTAX"
        "PEP8"
      ]
      lintTimeout: 60000
    "fb-atomprojects":
      localPaths: []
      remotePaths: []
    "fb-aurora-language-server":
      logLevel: "INFO"
    "fb-biggrep":
      filterToProject: true
    "fb-codex-pages":
      priority: 30
    "fb-component-search":
      resultCountLimit: -1
      shouldDisplayFullJSX: false
    "fb-componentscript":
      warnGraphQLChanged: false
    "fb-cquery":
      "enable-libclang-logs": false
      "indexer-threads": 0
      "memory-limit": 30
      "use-cquery": true
      "use-cquery-gk-result": true
    "fb-debugger-mobilejs":
      autoAttachComponentScript: "None"
      autoAttachReactNative: "None"
      logInspectorProxyMessages: false
      showConsoleMessages: false
    "fb-eslint-client":
      "disable-arc-lint-results": true
      logLevel: "INFO"
    "fb-generated-file-support":
      allowEdits: true
    "fb-go":
      goLanguageFeaturesProvider: "Default"
    "fb-graphql-metrics":
      priority: 50
    "fb-highlight-selected":
      allowedCharactersToSelect: "$@%-"
      hideHighlightOnSelectedWord: false
      highlightBackground: false
      highlightInPanes: true
      ignoreCase: false
      lightTheme: false
      minimumLength: 2
      onlyHighlightWholeWords: true
      showInStatusBar: true
      showResultsOnScrollBar: false
      statusBarString: "Highlighted: %c"
      timeout: 20
    "fb-intellij":
      intelliJKeybindings: false
    "fb-interactive-smartlog":
      autorunPostResolveScripts: false
      conflictResolverEnabled: true
      externalMergeToolArguments: ""
      externalMergeToolEnabled: false
      externalMergeToolPath: ""
      fetchCommitTemplateOption: "File"
      fetchOption: "jf get"
      modalComparison: true
      pullOption: "hg pull"
      showCommitInfoViewInline: false
      showTools: true
      syncMessagesToPhabricator: false
    "fb-java":
      autoBuild: false
      autoFold: true
      coverageType: "Symbols"
      eclipseLogLevel: "ERROR"
      languageServer: "Java Language Server"
      logLevel: "Finer"
      problemsToIgnore: ""
      showCompleteDiagnostics: true
    "fb-jellyfish":
      pathToJellyfish: "jf"
    "fb-miso":
      authType: "token"
      gateway: "http://localhost:8888"
    "fb-new-file-template":
      oncall_name: "rel_eng"
    "fb-notes":
      "fb-notes": {}
    "fb-on-demand":
      autoSetCwd: true
      "close-behavior": "ask"
      "duo-push-immediately": false
      "mobile-android-tunnel": true
      "mobile-fbandroid-target": "fb4a-noexo"
      "mobile-fbobjc-target": "fbios"
      "mobile-subdirectory-notification": true
      "mobile-xplat-metro": true
    "fb-oneworld":
      apertureAppExecPath: ""
      apertureAppUri: "https://our.intern.facebook.com/intern/aperture/app"
    "fb-osmeta-core":
      hideInternalTargets: true
    "fb-package-manager":
      "fuzzy-finder": false
      github: false
      linter: false
      metrics: false
      overriddenThirdPartySettings: []
      showChangelogs: true
    "fb-phabricator-comments-client":
      autoRefreshMinutes: 3
      commentOpener: "Editor"
      showComments: true
      showCommentsInDiffView: true
      showCommentsInEditors: true
      showOnlyMostRecentDiff: true
      showResolvedComments: false
    "fb-populate-symbols":
      populateSymbolsView: true
    "fb-prettier":
      formatAlreadyFormattedFilesOnSave: true
    "fb-rating":
      rating: 5
    "fb-similar-code-detector":
      debug: false
    "fb-skip":
      includeTypeErrors: true
      logLevel: "INFO"
      pathToSkip: ""
      remotePathToSkip: "~/www/scripts/skip"
      useLSP: true
    "fb-symbol-wiki":
      priority: 10
    "fb-terminal-dash-provider":
      defaultTerminalPane: "bottom"
    "fb-vscode-ext":
      "fb-cquery":
        "disable-flag-fetching": false
        "enable-code-lens": false
        "enable-libclang-logs": false
        "indexer-threads": 0
        "local-cache-directory": ""
        "memory-limit": 30
        "remote-cache-directory": ""
        "use-cquery": true
        "use-cquery-gk-result": true
      javascript:
        format:
          enable: false
        validate:
          enable: false
      "js-imports":
        componentModulePathFilter: "html/js"
      "nuclide-js-imports-client":
        componentModulePathFilter: "html/js"
        diagnosticsWhitelist: [
          "/nuclide"
          "/www"
          "/instance-ide"
          "/xplat/js"
          "/oculus-skyline"
          "/Software/Apps/skyline"
          "/www-hg"
          "/trunk-hg-www"
        ]
        logLevel: "INFO"
        requiresWhitelist: [
          "/www"
          "/instance-ide"
          "/xplat/js"
          "/www-hg"
          "/trunk-hg-www"
        ]
      "nuclide-ocaml":
        codeLens: true
        codeLensCopy: true
        codeLensMultiLine: false
        logLevel: "DEBUG"
        pathToMerlin: "ocamlmerlin"
        pathToOcpIndent: ""
        pathToRefmt: "refmt"
        refmtFlags: ""
      pyls:
        BuckFormatOnSave: false
        DsfmtFormatOnSave: false
        InstagramFormatOnSave: false
        formatAlreadyFormattedFilesOnSave: false
        plugins:
          fb_dataswarm_linter:
            enabled: true
    hyperclick:
      darwinTriggerKeys: "metaKey"
      linuxTriggerKeys: "ctrlKey"
      win32TriggerKeys: "ctrlKey"
    installRecommendedPackages: true
    "nuclide-adb-logcat":
      pathToAdb: "adb"
      whitelistedTags: "^((unknown:|)React|ReactNativeJS|ACRA|AndroidRuntime|TTI|BuckReporting|unknown)$"
    "nuclide-bookshelf":
      changeActiveBookmarkBehavior: "Always Ignore"
    "nuclide-buck":
      buildDbErrorNotify: true
      compileErrorDiagnostics: true
      pathToBuck: "buck"
      suggestTaskRunner: false
    "nuclide-clang":
      defaultDiagnostics: false
      enableDefaultFlags: true
      libclangPath: ""
      serverProcessMemoryLimit: 15
    "nuclide-code-search":
      localTool: ""
      localUseVcsSearch: true
      maxResults: 30
      remoteTool: ""
      remoteUseVcsSearch: true
    "nuclide-css-lsp-client":
      logLevel: "INFO"
    "nuclide-ctags":
      disableWithHack: true
    "nuclide-debugger-java":
      sourceFilePaths: ""
    "nuclide-debugger-php":
      hhvmRuntimeArgs: ""
      hhvmRuntimePath: "/usr/local/bin/hhvm"
      hhvmServerAttachPort: 8999
    "nuclide-definition-preview":
      editorHeight: 50
      priority: 20
    "nuclide-distraction-free-mode":
      hideFindAndReplace: false
      hideStatusBar: false
      hideToolBar: false
    "nuclide-file-tree":
      allowKeyboardPrefixNavigation: true
      autoExpandSingleChild: true
      focusEditorOnFileSelection: false
      hideIgnoredNames: true
      hideVcsIgnoredPaths: true
      revealFileOnSwitch: false
      showOpenFiles: true
      showUncommittedChanges: true
      showUncommittedChangesKind: "Uncommitted changes"
    "nuclide-flow":
      canUseFlowBin: false
      excludeOtherAutocomplete: false
      flowAutocompleteResultsFirst: true
      functionSnippetShouldIncludeArguments: true
      liveSyntaxErrors: true
      logLevel: "DEBUG"
      pathToFlow: "flow"
      stopFlowOnExit: true
      warnOnNotInstalled: false
    "nuclide-fuzzy-filename-provider":
      smartCase: false
    "nuclide-hack":
      hhClientPath: ""
      legacyHackIde: false
      logLevel: "DEBUG"
    "nuclide-health":
      analyticsTimeout: 20
      viewTimeout: 20
    "nuclide-hg-repository":
      enableDiffStats: true
    "nuclide-home":
      showHome: true
    "nuclide-infer-al":
      pathToInfer: "infer"
    "nuclide-ios-simulator-logs":
      pathToSyslog: "syslog"
      whitelistedTags: "^(core\\.react|tid:com\\.facebook\\.react\\.JavaScript|com.apple.console)$"
    "nuclide-js-imports-client":
      componentModulePathFilter: "html/js"
      diagnosticsWhitelist: [
        "/nuclide"
        "/www"
        "/instance-ide"
        "/xplat/js"
        "/oculus-skyline"
        "/Software/Apps/skyline"
        "/www-hg"
        "/trunk-hg-www"
      ]
      logLevel: "INFO"
      requiresWhitelist: [
        "/www"
        "/instance-ide"
        "/xplat/js"
        "/www-hg"
        "/trunk-hg-www"
      ]
    "nuclide-notifications":
      onlyNativeFriendly: true
      whenFocused: false
    "nuclide-objc":
      enableAutomaticSquareBracketInsertion: true
    "nuclide-ocaml":
      codeLens: true
      codeLensCopy: true
      logLevel: "DEBUG"
      pathToMerlin: "ocamlmerlin"
      pathToOcpIndent: ""
      pathToRefmt: "refmt"
      refmtFlags: ""
    "nuclide-python":
      autocompleteArguments: true
      enableLinting: true
      includeOptionalArguments: false
      pathToFlake8: "flake8"
      pathToPython: "python"
      showGlobalVariables: true
      showSignatureHelp: false
    "nuclide-quick-open":
      useSelection: true
    "nuclide-remote-atom":
      enableLocalCommandService: false
      shouldNotifyWhenCommandLineIsWaitingOnFile: false
    "nuclide-remote-projects":
      connectionProfiles: [
        {
          deletable: true
          displayTitle: "www"
          params:
            authMethod: "PASSWORD"
            cwd: "/home/cmcginty/www"
            displayTitle: "www"
            pathToPrivateKey: "/Users/cmcginty/.ssh/fb_id_rsa"
            remoteServerCommand: ""
            server: "our.cmcginty.sb.facebook.com"
            sshPort: "22"
            username: "cmcginty"
          saveable: true
        }
        {
          deletable: true
          displayTitle: "fbsource"
          params:
            authMethod: "PASSWORD"
            cwd: "/home/cmcginty/fbsource"
            displayTitle: "fbsource"
            pathToPrivateKey: "/Users/cmcginty/.ssh/fb_id_rsa"
            remoteServerCommand: ""
            server: "our.cmcginty.sb.facebook.com"
            sshPort: "22"
            username: "cmcginty"
          saveable: true
        }
        {
          deletable: true
          displayTitle: "configerator"
          params:
            authMethod: "SSL_AGENT"
            cwd: "/data/users/cmcginty/configerator"
            displayTitle: "configerator"
            pathToPrivateKey: ""
            remoteServerCommand: ""
            server: "our.cmcginty.sb.facebook.com"
            sshPort: "22"
            username: "cmcginty"
          saveable: true
        }
        {
          deletable: true
          displayTitle: "configerator-dsi"
          params:
            cwd: "/home/cmcginty/configerator-dsi"
            displayTitle: "configerator-dsi"
            remoteServerCommand: ""
            server: "our.cmcginty.sb.facebook.com"
            sshPort: "22"
            username: "cmcginty"
          saveable: true
        }
      ]
      shutdownServerAfterDisconnection: false
    "nuclide-swift":
      sourceKittenDisabled: false
      sourceKittenPath: "/usr/local/bin/sourcekitten"
      swiftToolchainPath: ""
    "nuclide-type-coverage":
      colorizeStatusBar: true
    "nuclide-vcs-log":
      showDifferentialRevision: true
    "nuclide-welcome-page":
      hiddenTopics: [
        "fb-nuclide-welcome-page"
      ]
    "nuclide-working-sets": {}
    use:
      "atom-ide-busy-signal": "default"
      "atom-ide-code-actions": "default"
      "atom-ide-code-format": "default"
      "atom-ide-code-highlight": "default"
      "atom-ide-console": "default"
      "atom-ide-datatip": "default"
      "atom-ide-debugger": "default"
      "atom-ide-debugger-java": "default"
      "atom-ide-debugger-java-android": "default"
      "atom-ide-debugger-native-gdb": "default"
      "atom-ide-debugger-node": "default"
      "atom-ide-debugger-ocaml": "default"
      "atom-ide-debugger-python": "default"
      "atom-ide-debugger-react-native": "default"
      "atom-ide-definitions": "default"
      "atom-ide-diagnostics": "default"
      "atom-ide-diagnostics-ui": "default"
      "atom-ide-find-references": "default"
      "atom-ide-global": "default"
      "atom-ide-outline-view": "default"
      "atom-ide-refactor": "default"
      "atom-ide-signature-help": "default"
      "atom-ide-terminal": "default"
      "fb-ai-code-search": "default"
      "fb-ai-complete-blocks": "default"
      "fb-ai-google-code-search": "default"
      "fb-alitepath-provider": "default"
      "fb-analytics-client": "default"
      "fb-android-menu-items": "default"
      "fb-android-native-debugger": "default"
      "fb-android-welcome-page": "default"
      "fb-arc-lint": "default"
      "fb-arc-paste": "default"
      "fb-arcanist": "default"
      "fb-arcanist-editor": "default"
      "fb-atom-command-dash-provider": "default"
      "fb-atom-snippets": "default"
      "fb-atomprojects": "default"
      "fb-aurora-language-server": "default"
      "fb-biggrep": "default"
      "fb-biggrep-dash-provider": "default"
      "fb-breadcrumbs": "default"
      "fb-buck-java": "default"
      "fb-buck-mobilejs": "default"
      "fb-code-patterns": "default"
      "fb-codegraph": "default"
      "fb-codex": "default"
      "fb-codex-pages": "default"
      "fb-component-search": "default"
      "fb-componentscript": "default"
      "fb-componentscript-fiddle": "default"
      "fb-cquery": "default"
      "fb-css-constants": "default"
      "fb-dash": "default"
      "fb-dataswarm": "default"
      "fb-debugger-mobilejs": "default"
      "fb-debugger-native-config-resolver": "default"
      "fb-debugger-source-paths": "default"
      "fb-devserver-checkup": "default"
      "fb-diff-view": "default"
      "fb-disable-lf-utf8": "default"
      "fb-dumpapp": "default"
      "fb-employee": "default"
      "fb-entschema": "default"
      "fb-eslint-client": "default"
      "fb-file-a-bug": "default"
      "fb-file-family-data-plugins": "default"
      "fb-fuzzy-file-dash-provider": "default"
      "fb-gatekeeper": "default"
      "fb-generated-file-support": "default"
      "fb-go": "default"
      "fb-go-to-file-symbol-dash-provider": "default"
      "fb-go-to-line-dash-provider": "default"
      "fb-go-to-project-symbol-dash-provider": "default"
      "fb-graphql-metrics": "default"
      "fb-hack-playground": "default"
      "fb-hackast-refactorizer": "default"
      "fb-haskell-lsp": "default"
      "fb-hg-dash-provider": "default"
      "fb-home": "default"
      "fb-http-request-sender": "default"
      "fb-instarn": "default"
      "fb-intellij": "default"
      "fb-interactive-smartlog": "default"
      "fb-intern-dash-provider": "default"
      "fb-intl-fbt-str": "default"
      "fb-java": "default"
      "fb-java-test-runner": "default"
      "fb-jellyfish": "default"
      "fb-jest-test-runner": "default"
      "fb-js-refactorizer": "default"
      "fb-js-require-size-client": "default"
      "fb-language-capirca": "default"
      "fb-language-dataswarm": "default"
      "fb-login": "default"
      "fb-miso": "default"
      "fb-neuralcodesearch-provider": "default"
      "fb-new-file-template": "default"
      "fb-notes": "default"
      "fb-nuclide-beta-indicator": "default"
      "fb-nuclide-node-playground": "default"
      "fb-nuclide-onboarding": "default"
      "fb-nuclide-onboarding-core-tasks": "default"
      "fb-nuclide-remote-transfer": "default"
      "fb-nux": "default"
      "fb-observe-www-directory": "default"
      "fb-on-demand": "default"
      "fb-oneworld": "default"
      "fb-osmeta": "default"
      "fb-osmeta-core": "default"
      "fb-package-center": "default"
      "fb-package-manager": "default"
      "fb-perf-gutter": "default"
      "fb-phabricator": "default"
      "fb-phabricator-comments-client": "default"
      "fb-populate-symbols": "default"
      "fb-prettier": "default"
      "fb-product-alert": "default"
      "fb-pyre-language-server": "default"
      "fb-python-lsp": "default"
      "fb-rating": "default"
      "fb-relay": "default"
      "fb-remote-uri-formatters": "default"
      "fb-rust-language-server": "default"
      "fb-sample-dash-provider": "never"
      "fb-scala-lsp": "default"
      "fb-scmquery": "default"
      "fb-services": "default"
      "fb-similar-code-detector": "default"
      "fb-sitevar-notification": "default"
      "fb-skip": "default"
      "fb-slog": "default"
      "fb-smoothscroll": "default"
      "fb-sparse-file-preview": "default"
      "fb-symbol-wiki": "default"
      "fb-terminal-dash-provider": "default"
      "fb-terminal-onboarding": "default"
      "fb-test-pilot-test-runner": "default"
      "fb-test-runner": "default"
      "fb-test-runner-ui": "default"
      "fb-thrift-client-service": "default"
      "fb-thrift-language-server": "default"
      "fb-trace-collector": "default"
      "fb-ui-component-tools": "default"
      "fb-xml": "default"
      hyperclick: "default"
      "nuclide-adb-logcat": "default"
      "nuclide-atom-notifications": "default"
      "nuclide-autocomplete": "default"
      "nuclide-blame": "default"
      "nuclide-blame-provider-hg": "default"
      "nuclide-bookshelf": "default"
      "nuclide-buck": "default"
      "nuclide-buck-ios": "default"
      "nuclide-clang": "default"
      "nuclide-clipboard-path": "default"
      "nuclide-code-search": "default"
      "nuclide-context-view": "default"
      "nuclide-css-lsp-client": "default"
      "nuclide-ctags": "default"
      "nuclide-current-working-directory": "default"
      "nuclide-debugger-java": "default"
      "nuclide-debugger-native": "default"
      "nuclide-debugger-php": "default"
      "nuclide-debugger-prepack": "default"
      "nuclide-debugger-vsp": "default"
      "nuclide-deep-link": "default"
      "nuclide-definition-preview": "default"
      "nuclide-definition-preview-provider": "default"
      "nuclide-deprecation-cop": "default"
      "nuclide-device-panel": "default"
      "nuclide-device-panel-android": "default"
      "nuclide-device-panel-ios": "default"
      "nuclide-diagnostics-extras": "default"
      "nuclide-diff-gutters": "default"
      "nuclide-distraction-free-mode": "default"
      "nuclide-file-family": "default"
      "nuclide-file-family-projectionist": "default"
      "nuclide-file-tree": "default"
      "nuclide-file-watcher": "default"
      "nuclide-flow": "default"
      "nuclide-fuzzy-filename-provider": "default"
      "nuclide-graphql": "default"
      "nuclide-hack": "default"
      "nuclide-health": "default"
      "nuclide-hg-repository": "default"
      "nuclide-hhvm": "default"
      "nuclide-home": "default"
      "nuclide-http-request-sender": "default"
      "nuclide-image-view": "default"
      "nuclide-infer-al": "default"
      "nuclide-ios-simulator-logs": "default"
      "nuclide-js-imports-client": "default"
      "nuclide-json": "default"
      "nuclide-key-binding-hint-status": "default"
      "nuclide-language-hack": "default"
      "nuclide-language-infer-al": "default"
      "nuclide-language-reason": "default"
      "nuclide-language-service-client": "default"
      "nuclide-language-status": "default"
      "nuclide-metro": "default"
      "nuclide-move-item-to-available-pane": "default"
      "nuclide-navigation-stack": "default"
      "nuclide-navigation-stack-status-bar": "default"
      "nuclide-notifications": "default"
      "nuclide-nux": "default"
      "nuclide-objc": "default"
      "nuclide-ocaml": "default"
      "nuclide-open-filenames-provider": "default"
      "nuclide-outline-view-extras": "default"
      "nuclide-project": "default"
      "nuclide-python": "default"
      "nuclide-quick-open": "default"
      "nuclide-react-inspector": "default"
      "nuclide-recent-files-provider": "default"
      "nuclide-recent-files-service": "default"
      "nuclide-reload-deep-link": "default"
      "nuclide-remote-atom": "default"
      "nuclide-remote-projects": "default"
      "nuclide-settings": "default"
      "nuclide-ssh-tunnel": "default"
      "nuclide-swift": "default"
      "nuclide-syntactic-selection": "default"
      "nuclide-task-runner": "default"
      "nuclide-test-runner": "default"
      "nuclide-type-coverage": "default"
      "nuclide-type-hint": "default"
      "nuclide-ui": "default"
      "nuclide-unicode-datatip": "default"
      "nuclide-url-hyperclick": "default"
      "nuclide-vcs-log": "default"
      "nuclide-welcome-page": "default"
      "nuclide-working-sets": "default"
    useLocalRpc: true
  "spell-check":
    addKnownWords: true
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "source.rst"
      "text.restructuredtext"
      "text.html.php"
      "text.html.hack"
      "source.python"
      "text.md"
    ]
    knownWords: [
      "awaitable"
      "contbuild"
      "contbuilds"
      "darray"
      "dict"
      "nullthrows"
      "oncall"
      "unlanded"
      "vec"
      "deduped"
      "Traversables"
    ]
  "tool-bar":
    iconSize: "16px"
    position: "Left"
    useTouchBar: false
  "vim-mode-plus":
    ignoreCaseForSearch: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".python.regexp.source":
  editor:
    preferredLineLength: 88
".python.source":
  editor:
    preferredLineLength: 88
".text.xml":
  editor:
    nonWordCharacters: "/\\()\"',.;<>~!@#$%^&*|+=[]{}`?…"
