# all
# ----------------------------------------
'atom-workspace':
    # tab navigation
    'ctrl-d': 'core:close'
    'ctrl-h': 'pane:show-previous-item'
    'ctrl-l': 'pane:show-next-item'
    'ctrl-shift-t': 'pane:reopen-closed-item'

    # pane navigation
    'ctrl-w ctrl-h': 'window:move-active-item-to-pane-on-left'
    'ctrl-w ctrl-j': 'window:move-active-item-to-pane-below'
    'ctrl-w ctrl-k': 'window:move-active-item-to-pane-above'
    'ctrl-w ctrl-l': 'window:move-active-item-to-pane-on-right'
    'ctrl-w h': 'window:focus-pane-on-left'
    'ctrl-w j': 'window:focus-pane-below'
    'ctrl-w k': 'window:focus-pane-above'
    'ctrl-w l': 'window:focus-pane-on-right'

    # file operations
    'ctrl-o': 'fuzzy-finder:toggle-file-finder'

# editor
# ----------------------------------------
'atom-text-editor.vim-mode-plus':
    # disable package defaults so global mappings work
    'ctrl-d': 'unset!'
    'ctrl-w ctrl-h': 'unset!'
    'ctrl-w ctrl-j': 'unset!'
    'ctrl-w ctrl-k': 'unset!'
    'ctrl-w ctrl-l': 'unset!'

    # mode switch
    'ctrl-space': 'vim-mode-plus:reset-normal-mode'

    # undo/redo
    'ctrl-u': 'vim-mode-plus:redo'

    # motions
    'ctrl-j': 'vim-mode-plus:scroll-half-screen-down'
    'ctrl-k': 'vim-mode-plus:scroll-half-screen-up'

    # file operations
    'ctrl-s': 'custom:vim-save'

    # search
    'ctrl-f': 'vim-mode-plus:search-current-word'

    # code navigation
    'ctrl-t': 'nuclide-navigation-stack:navigate-backwards'

# visual mode
# ----------------------------------------
# 'atom-texteditor.vim-mode-plus(.visual-mode)':
